*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore Copilot instructions files
.github/copilot-instructions.md
copilot-instructions.md
app/google-services.json
app/google-services.json
backend/.venv
backend/.env
backend/__pycache__
backend/coffee-corner-2697f-firebase-adminsdk-fbsvc-dd6a599348.json
.github/copilot-mcp-instructions.md
backend/firebase-admin-sdk.json

# Supabase credentials
app/src/main/assets/supabase.properties